*.pyc
.directory
*.o
*.so
*.qmlc
*_qml.cpp
*_qmlcache.qrc*
*_install.cmake
*.moc
qmlcache_loader.cpp
moc_*
qrc_*
.qmake.stash
*.spec.*
documentation.list
examples/touch/glacier-components
Makefile
installroot/
RPMS/
CMakeFiles/
CMakeCache.*
debug*.list
*.txt.user*
build/
*_autogen*
